#first-line {
    background-color: rgb(255, 230, 0);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 400px;
}

#first-line p {
    background-color: white;
    width: 280px;
    height: 290px;
    margin-left: 20px;
    padding-top: 10px;
}

#second-line {
    background-color: rgb(0, 199, 99);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 400px;
}

#second-line p {
    background-color: white;
    width: 280px;
    height: 290px;
    margin-right: 20px;
    padding-top: 10px;
}

#third-line {
    background-color: orange;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 400px;
}

#third-line p {
    background-color: white;
    width: 280px;
    margin-left: 20px;
    padding: 10px 0 10px;
}

#fourth-line {
    background-color: rgb(0, 217, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

#fourth-line p {
    background-color: white;
    width: 280px;
    height: 108px;
    padding: 10px 0 10px;
}

#fith-line {
    background-color: rgb(255, 0, 43);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 400px;
}

#fith-line p {
    background-color: white;
    width: 280px;
    height: 108px;
    padding: 10px 0 10px;
    margin-right: 20px;
}