#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.card {
    display: flex;
    flex-direction: column;
    width: 500px;
    box-shadow: 5px 5px 10px grey;
    position: relative;
}
#woman {
    width: 500px;
    height: 300px;
    object-fit: cover;
    object-position: 0 -40px;
}

#man {
    width: 500px;
    height: 300px;
    object-fit: cover;
    object-position: 0 -300px;
    
}

.name-surname {
    width: 175px;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    position: absolute;
    top: 270px
}

.text {
    background-color: rgb(255, 210, 125);
    width: 500px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
}

.header {
    font-weight: bold;
    font-size: 25px;
    margin-left: 15px;
    margin-bottom: 5px;
}

.info {
    width: 400px;
    margin-left: 15px;
}

