body {

    background-color:#EBEBEB;
}

h1 {

    background-color: white;
    font-family:'Roboto';
    font-weight: 900;
    font-style: black;
    letter-spacing: 2px;
    text-transform:uppercase;
    font-size: 50px;
}

.header1 {

    font-family: 'Roboto'; 
    font-weight: 900;
    font-size: 36px;
}

.box {

    background-color:white;
}

.subheading {

    font-family:'Roboto';
    font-weight: 900;
    font-size: 20px;
    text-decoration: underline solid;
}

p {
    font-family:'Open Sans';
    font-weight: 400;
    font-size: 14px;
    color:#222222;

}

.photos {
    width:200px;
    height:200px;
    object-fit:cover;
}

