body {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
}

#content {
    width: 675px;
    height: 355px;
    background-color: #222225B2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
#question {
    color: white;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0.42px;
    width: 531px;
    height: 96px;
    margin-bottom: 20px;
}

#text {
    color: white;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15x;
    width: 525px;
    height: 52px;
    margin-bottom: 20px;
}

#button {
    color: #F17965;
    background-color: rgba(255, 255, 255, 0);
    font-family: Inter;
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -5%;
    vertical-align: middle;
    border: 2px solid #F17965;
    border-radius: 10px;
    padding: 10px;
    width: 144px;
    position: relative;
    right: 190px;
}

#button:hover {
    background-color: #F79090;
    color: white;
}

/* --------PHOTOS-----------------*/
#megaphone {
    width: 195px;
    height: 195px;
    rotate: 8.9deg;
    position: absolute;
    top: -90px;
    left: -60px
}

#star {
    width: 160px;
    height: 167px;
    object-fit: cover;
    position: absolute;
    top: 220px;
    right: -50px;
    z-index: 1;
}

#circle-mini {
    background-color: #F0755F;
    width: 62px;
    height: 62px;
    border-radius: 100px;
    position: absolute;
    top: 268px;
    right: -40px;
    z-index: 1;
    
}

#circle-big {
    width: 114px;
    height: 114px;
    background-color: #3E7FE1;
    border-radius: 100px;
    position: absolute;
    top: 300px;
    right: -30px;
}