body {

    background-color:rgb(35, 122, 114);
}

#first {

    background-color: beige;
    max-width:80%;
    margin-top: 5em;
    margin-bottom: 5em;
    margin-left:auto;
    margin-right:auto;
    border: 12px solid blue;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.5);
}
#second {

    background-color: beige;
    max-width: 80%;
    margin-top: 5em;
    margin-bottom: 5em;
    margin-left:auto;
    margin-right:auto;
    padding: 5em 5em 5em 5em;
    border-radius: 150px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

#third {

    background-color: beige;
    max-width: 80%;
    margin-top: 5em;
    margin-bottom: 5em;
    margin-left:auto;
    margin-right:auto;
    padding-top:5em;
    padding-left:0;
    padding-right:0;
    padding-bottom:5em;
    border-bottom:10px solid turquoise;
    border-right:15px dashed turquoise
}

#fourth {

    background-color: beige;
    max-width: 80%;
    margin-top: 5em;
    margin-bottom: 5em;
     margin-left:auto;
    margin-right:auto;
    padding: 0 5em 1em;
    border-top-left-radius: 20px;
    border-bottom-right-radius:50px;
}
#fith {

    background-color: beige;
    max-width: 80%;
    margin-top: 5em;
    margin-bottom: 5em;
    margin-left:auto;
    margin-right:auto;
    padding: 0 0 5em;
    border-left:10px dashed rgb(103, 173, 103);
}