html, body{
    background-color: #e9dac8;
}

.container{
    background-color: #e3c6a1;
    width: 100%;
    max-width: 500px;
    border-radius: 40px;
    padding: 15px 30px;
    margin: 40px auto;
}

.container label, input, .results{
    display: block;
    font-family:'Roboto', sans-serif;
    letter-spacing: 2px;
    margin: 15px;
}

button {
    padding: 10px 20px;
    margin-left: 15px;
    border-radius: 20px;
    margin-top: 20px;
}


input {
    width: 200px;
}

span {
    margin-left: 15px;
    color: red;
    font-family:'Roboto', sans-serif;
    font-size: 14px
}

span.error:not(.show){
    display: none;
}

h1, h2 {
    font-family:'Roboto', sans-serif;
    background-color: #ecebc3;
    border-radius: 40px;
    text-align: center;
    padding: 10px;
} 

