body {
    margin: 0;
}


#all-navigation {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    position: fixed;
    bottom: 20px;
    width: 100%;
}

#button-up {
    margin-right: 50px;
}
#sections {
    display: flex;
    background-color: #F5F3F3;
    width: 505px;
    height: 58px;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}

.nav {
    text-decoration: none;
    height: 42px;
    font-family: Inter;
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -5%;
    vertical-align: middle;
    color: #F17965;
    border: 2px solid #F17965;
    padding: 7px;
    border-radius: 10px;
    box-sizing: border-box;
}

.number {
    font-family: Inter;
    font-weight: 400;
    font-size: 128px;
    line-height: 100%;
    letter-spacing: 0.2px;
    text-align: center;
}

#number-5 {
    font-family: Inter;
    font-weight: 400;
    font-size: 128px;
    line-height: 100%;
    letter-spacing: 0.2px;
    text-align: center;
    color: red;
}

#slide-1 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slide-2 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #51CB65;
}

#slide-3 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #816EF5;
}

#slide-4 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EA7B7B;
}

#slide-5 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
}