body {
    background-color: rgb(218, 214, 214);
    margin-top: 100px;
}

* {
    margin: 0;
}

#container {
    display: flex;
    height: 1326px;
    width: 100vw;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}


.image {
    width: 276px;
    height: 176px;
    object-fit: cover;
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px; 
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
}
.date {
    background-color: #fff;
    width: 56px;
    height: 56px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 4px grey;
    position: absolute;
    top: 145px;
    left: 206px;
}

.day {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 24px;
    width: 28px;
    height: 28px;
    margin-top: 5px;
}

.month {
    text-transform: uppercase;
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
    width: 25px;
    height: 17px;
    position: relative;
    right: 1px
}

.content {
    background-color: #fff;
    width: 276px;
    height: 176px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.headline {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.2%;
    color: #959393;
    margin-bottom: 10px;
    margin-left: 15px;
}

.title {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    width: 250px;
    height: 48px;
    margin-left: 15px;
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 76px;
    margin-top: 20px;
    margin-left: 15px;
}

.social-icons {
    border-radius: 50px;
}
