body {

    background-image: linear-gradient(#58F6EC, #FBEDDD);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {

    padding: 20px 40px;
    background-color:white;
    max-width:488px;
    margin: 10px auto;
    box-sizing: border-box;
    margin-bottom: 16px;
}

#box1 {

    margin-top: 64px;
}

.naujienos {

    font-family:'Poppins';
    font-weight:700;
    font-size:24px;
    text-align:center;
    margin-bottom: 16px;
}

.info {

    font-family:'Inter';
    font-weight: 400;
    font-size: 12px;
    line-height:100%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 0px;
}

a {

    color: black;
    text-align: center;
    font-family: 'Inter';
    font-size: 12px;
    text-decoration: none;
    
}

.link {

    text-align: center;
    width:50px;
    padding: 10px 10px;
    background-color: #FCCB92;
    margin: 0 auto;
}

#all-boxes {
    width: 500px;
}

@media only screen and (min-width: 2270px) {

    #all-boxes {
        width: 1500px;
        display: flex;
        flex-wrap: wrap;
    }
}